<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('Order')">


</head>
<body>
<header th:replace="common/template_menu::header"></header>

<div id="Content">


    <h2>My Orders</h2>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>

        <tr th:each="order : ${session.orderList}">
            <td>
                <a th:text="${order.getorderID()}">${order.orderID}</a>
            </td>
            <td th:text="${order.orderDate}">
            </td>
            <td th:text="${order.totalPrice}">
            </td>
        </tr>

    </table>

</div>

<footer th:replace="common/template_menu::footer"></footer>
</body>>
</html>