<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore_spring.persistence.SequenceMapper">

    <resultMap id="sequenceMap" type="org.csu.mypetstore_spring.domain.Sequence">
        <id property="name" column="name"/>
        <result property="nextID" column="nextID"/>
    </resultMap>

    <select id="getSequence" resultMap="sequenceMap" parameterType="org.csu.mypetstore_spring.domain.Sequence">
        select name, nextID
        from sequence
        WHERE name = #{name}
    </select>

    <update id="updateSequence" parameterType="org.csu.mypetstore_spring.domain.Sequence">
        UPDATE sequence
        SET  nextID = #{nextID}
        WHERE name = #{name}
    </update>

</mapper>