<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('Category:'+${category.getName()})">


</head>
<body>
<header th:replace="common/template_menu::header"></header>

<div id="Content">

    <div id="BackLink">
        <a href="/viewMain">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2 th:text="${category.getName()}">category name</h2>

        <table>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
            </tr>
            <!-- 循环 -->
            <tr th:each="product:${productList}">
                <td>

                    <a th:href="@{/viewProduct(productID=${product.getProductID()})}"
                       th:text="${product.getProductID()}">FL-DLH-02</a>
                </td>
                <td th:text="${product.getName()}">Persian</td>
            </tr>
        </table>

    </div>

</div>

<footer th:replace="common/template_menu::footer"></footer>
</body>>
</html>